        * {
            padding: 0;
            margin: 0;
        }

        canvas {
            background: #f5f5f5;
            display: block;
            margin: 30px auto;
            cursor: pointer;
        }

        body {
            background: #fff;
            font-family: Arial, sans-serif;
        }